<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/homestyle.css">
  <title>Anna's Gallery</title>
</head>
<body>
  <header>
  <h1>Welcome To My Gallery</h1>
  </header>
  <main class="big-box">
    <section class="medium-box">
        <div class="wrapper">
    <h3>Lorem ipsum dolor sit amet, et vis liber putent reprehendunt, suas numquam consetetur eos at. Ei vim scripta moderatius, ut duo partiendo vituperata. Homero repudiare referrentur ut sed, ius cu nostrum inciderint. Et liber officiis omittantur eos. Eu usu gubergren conceptam honestatis, per tale accusata accommodare ad, accusata adversarium ne sit.</h3>

    </div>
      </section>
    </section>

  </section>
  </main>
  <section class="artclips">
    <section th:each="art : ${art}">
        <figure><img th:src="@{/images/{image}(image=${art.artImage})}">
        </figure>
      <p th:text="${art.artTitle}">Title</p>
  </section>
</body>
</html>